/*materlize footer css*/
main {
    flex: 1 0 auto;
}

.maincolor {
    background-color: aliceblue;
}

body {
    /*materlize footer css*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

/*colors for social media links*/
.color1 {
    color:rgb(255,0,0);
}
.color2 {
    color:#3b5998;
}
.color3 {
    color:rgb(29, 161, 242);
}

/*border color*/
.border {
    border:10px solid orange
}

.smaller {
    font-size: large;
}

.flexcenter {
    display:flex;
    justify-content: center;
}

.ps {
    font-size: 20px;
}

.errorTyp{
    text-align: center;
}

.space {
    margin:5px;
}

.btnup {
    display:flex;
    justify-content: flex-end;
}