{% extends "base.html" %}
{% block content %}


<main>
    <div class="row card-panel border">
        <h3 class="text-darken-4 center-align"><i>Add Recipe</i></h3>
        <form class="col s12" method="POST" action="{{ url_for('add') }}">
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-hamburger prefix text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Food Category</label>
				</div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix text-darken-4"></i>
                    <input id="recipie_name" name="recipie_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="recipie_name">Recipie Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pizza-slice prefix text-darken-4"></i>
                    <input id="ingredients" name="ingredients" type="text" class="validate" required>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-hands-wash prefix text-darken-4"></i>
                    <textarea id="preparation" name="preparation" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="preparation">Preparation</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-tools prefix text-darken-4"></i>
                    <input id="special_tools" name="special_tools" type="text">
                    <label for="special_tools">Special Tools</label>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large green darken-2 text-shadow">
                        Add Recipie
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>


{% endblock %}

