{% extends "base.html" %}
{% block content %}

<main>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel border">
                <h3 class="center-align text-darken-4">
                    Welcome, {{ username }}!
                </h3>
                <div class="center">
                    <!--materlize buttons-->
                    <a href="{{ url_for('add') }}" class="waves-effect waves-light btn-large green darken-2 text-shadow">Add</a>
                    {% if session.user|lower == "admin"|lower %}
                    <a href="{{ url_for('get_categories') }}" class="waves-effect waves-light btn-large green darken-2 text-shadow">Manage Categories</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

