{% extends "base.html" %}
{% block content %}

<main>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" src="https://thumbs.dreamstime.com/b/asian-food-cooking-wok-noodles-chicken-stir-fry-vegetables-ingredients-spices-sauces-chopsticks-dark-rustic-83701227.jpg" alt="stock cooking image">
                    <span class="card-title">Registration</span>
                </div>
                <div class="card-content">
                    <p class="center-align"><i>Already have an account?
                    Click <a href="{{ url_for('login') }}">here </a>to sign in.</i></p>
                    <br>
                    <p class="center-align">(Please <b>note</b> that your username/password must be between 5-15 characters.</p>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <i class="prefix"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" 
                        class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <i class="prefix"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" 
                        class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s12 btn-large orange lighten-2 text-shadow">
                        Register
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}